*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.bg-img{
    width: 100%;
    height: 100%;
    background-color: rgb(125, 74, 172);
}

.bg-img img{
    width: 100%;
    height: 100vh;
    object-fit: contain;
    
}

.bg-text{
    width: 1600px;
    height: 800px;
    background-color: white;
    position: absolute;
    top: 6%;
    left: 8%;
    border-radius: 20px;
    border: 3px solid rgb(125, 74, 172);
    display: flex;
    flex-direction: column;
}

.title{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: rgb(71, 26, 112);;
}

.button-fc{
    position: absolute;
    bottom: 6%;
    left: 46%;
    padding: 10px 20px;
    font-weight: 300;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(125, 74, 172);
    color: white;
}